/* Contenedor principal del toggle */
.Gtoggle-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Asegura que el switch esté alineado a la derecha */
}

/* Estilos para el texto del label */
.Glabel-text {
    margin-right: 10px; /* Espacio entre el texto y el switch */
    font-size: 16px; /* Ajusta el tamaño del texto según sea necesario */
}

/* Contenedor del toggle */
.Gtoggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

/* Ocultamos el checkbox original */
.Gtoggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* El estilo del interruptor */
.Gslider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

/* El círculo interno del interruptor */
.Gslider::before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

/* Cambia el color de fondo del interruptor cuando está activado */
input:checked + .Gslider {
    background-color: #4caf50;
}

/* Desliza el círculo hacia la derecha cuando está activado */
input:checked + .Gslider::before {
    transform: translateX(26px);
}

/* Estilos adicionales para darle efecto de toggle/switch */
.Gslider.round {
    border-radius: 34px;
}

.Gslider.round::before {
    border-radius: 50%;
}
