/* Invitation.css */

/* General Styles */
h1 {
  font-size: 24px;
}

.info_container {
  display: flex;
  flex-wrap: wrap;
}

.modal{
  box-sizing: border-box;
  padding: 0 16px;
}

.buttons {
  width: 100%;
  padding-right: 10px;
  display: flex;
  justify-content: end;
  gap: 10px;
  margin-bottom: 12px;
}

.colorButton {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  user-select: none;
}

.colorButton:hover{
  box-shadow: 0px 0px 7px 2px #64D9E9;
}

.col {
  flex: 1;
  padding: 10px;
}

.div_input {
  margin-bottom: 10px;
}

.div_input label {
  display: block;
  margin-bottom: 5px;
}

.div_input input,
.div_input select,
.div_input textarea {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.container_cities {
  margin-top: 10px;
}

.cityLabel {
  background-color: #f1f1f1;
  padding: 5px;
  margin: 5px 0;
  cursor: pointer;
}

.container_button {
  margin-top: 20px;
  text-align: center;
}

.modal-container {
  width: 400px;
  min-height: 534px;
  padding: 30px 10px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  clip-path: inset(0 round 15px);
}

.modal-content {
  padding: 40px 0px 20px;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  border-radius: 50px 0px 50px 0px;
  border: 2px solid white;
}

.modal-content img {
  width: 85px;
  height: 45px;
  position: absolute;
  top: -20px;
}

.modal h2 {
  font-size: 22px;
  color: white;
  max-width: 80%;
  margin: 0 auto;
  word-wrap: break-word;
}

.modal p {
  font-size: 16px;
  color: white;
  max-width: 80%;
  margin: 0 auto;
  word-wrap: break-word;
  font-weight: 400;
}

.container-link {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3%;
}

.line {
  flex-grow: 1;
  height: 1px;
  background-color: white;
  min-width: 7.5%;
}

.container-link a {
  color: #64D9E9;
  word-wrap: break-word;
  max-width: 79%;
  font-size: 16px;
}

.enlace{
  font-size: 14px;
  filter: grayscale();
  opacity: .5;
}

.modal-times {
  margin-top: 20px;
  text-align: left;
}

.modal-times div {
  margin-bottom: 10px;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-buttons button {
  padding: 8px;
  margin: 5px;
  cursor: pointer;
  font-size: 18px;
  transition: none;
}

.modal-buttons button:hover {
  background-color: white;
  color: black;
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, .9));
}


.modal-content span {
  color: white;
  word-wrap: break-word;
}


.image-invitation {
  position: relative;
  width: 200px !important;
  height: 600px !important;
  gap: 0px;
  opacity: 0px;
}

/* Responsive Design */
@media (max-width: 600px) {


}
