.resetButton {
    margin: 1rem 0 5rem;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    box-shadow: 0 0 0 0.2 rgba(0, 0, 0, 0.2);
    font-weight: 700;
    font-size: 24px;
    margin-left: 20px;
}

.Bmodal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.Bmodal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
}

.Bmodal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.Bclose-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.Bmodal-options label {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    font-size: 16px;
}

.BQuestion{
    padding: 2rem;
    color: black;
    font-size: 14px;
}

.BmodalBGNote{
    color: #333;
    font-size: 12px;
}

.Bcancel-btn {
    background-color: #ffff;
    color: #5e5e5e;
    padding: 10px;
    border: 2px thin #5e5e5e;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 20px;
}

.Bcancel-button{
    background-color: #c60000;
    border: 2px solid #c60000;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.Bcancel-btn:hover {
    color: #ffff;
    background-color: #8a8a8a;
}

.Bcancel-button:hover{
    background-color: rgb(172, 0, 0);
}

@media (min-width: 600px) {
    .BQuestion{
        font-size: 16px;
    }
}