.section {
  padding: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button_Layout {
  width: 100%;
  margin: 0;
  height: 53px;
  place-content: center;
  background: linear-gradient(358.77deg, rgba(23, 23, 23, 0.55) 14.23%, rgba(23, 23, 23, 0.25) 118.03%);
  border-radius: 10px;
  padding: 1rem;
}

.destination_Select{
  width: 100%;
}

.button_Layout_Destination_Select{
  width: 100%;
  margin: 0;
  height: 53px;
  place-content: center;
  background: linear-gradient(358.77deg, rgba(23, 23, 23, 0.55) 14.23%, rgba(23, 23, 23, 0.25) 118.03%);
  border-radius: 10px;
  padding: 1rem;
}

.button_Layout_Destination_Select input, .button_Layout input{
  background: transparent;
  color: white;
  border: none;
  font-size: 14px;
}

.button_Layout_Destination_Select input:focus, .button_Layout input:focus{
  outline: none;
}

.button_Layout_Destination_Select ul, .button_Layout ul{
  background: linear-gradient(0deg, rgba(23,23,23,0.5424370431766457) 11%, rgba(83,83,83,1) 93%);
  max-height: 200px;
  border-radius: 10px;
  z-index: 10;
  color: white;
}

.button_Layout_Destination_Select li, .button_Layout li{
  font-size: 1.2rem;
}

.button_Layout_Destination_Select li:hover, .button_Layout li:hover{
  background-color: #111111;
}

.box_btn_layout {
  display: flex;
  justify-content: center;
  border: none;
  margin: 0;
  gap: 1rem;
}

.box_btn_layout .button_Layout {
  align-self: stretch;
}

.selected_Cities{
  width: 100%;
  max-width: 540px;
  display: flex;
  margin-top: 24px;
  gap: 15px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.cityLabel{
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  background: linear-gradient(358.77deg, rgba(23, 23, 23, 0.55) 14.23%, rgba(23, 23, 23, 0.25) 118.03%);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 14px;
}

.cityLabel:hover{
  background-color: red;
}


@media (min-width: 600px) {
  .section {
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
  }
  .button_Layout_Destination_Select input, .button_Layout input{
    font-size: 16px;
  }
  .button_Layout {
    height: 124px;
  }
  .button_Layout_Destination_Select{
    height: 124px;
  }
  .box_btn_layout {
    height: 124px;
    flex-direction: column;
  }

  .button_Layout {
    width: 50%;
  }

  .destination_Select{
    width: 50%;
  }

  .selected_Cities{
    max-height: 155px;
    overflow-y: scroll;
  }
}

@media (min-width: 1000px) {
  .button_Layout_Destination_Select input, .button_Layout input{
    font-size: 1.2rem;
  }
}

/* tablet */
@media (min-width: 960px) {
}

/* desktop */
