.section {
  padding: 1rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.button_Layout {
  width: 100%;
  height: 53px;
  margin: 0;
}

.box_btn_layout {
  display: flex;
  justify-content: center;
  border: none;
  margin: 0;
  gap: 1rem;
}

.box_btn_layout .button_Layout {
  align-self: stretch;
}

.text_input {
  height: 100%;
  width: 100%;
  margin: 0;
}

@media (min-width: 600px) {
  .section {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .box_btn_layout {
    flex-direction: column;
  }

  .button_Layout {
    height: 123px;
  }

  .box_btn_layout .button_Layout {
    height: 56px;
  }
  .text_input {
    min-width: 200px;
  }
}

@media (min-width: 1000px) {
  .text_input {
    min-width: 400px;
  }
}
@media (min-width: 1200px) {
  .text_input {
    min-width: 474px;
  }
}

/* tablet */
@media (min-width: 960px) {
}

/* desktop */
