.text_input {
  height: 100%;
  width: 100%;
  margin: 0;
}

.ul_cities {
  display: flex;
  flex-wrap: wrap;
  gap: 13px;
  margin-top: 13px;

  margin-bottom: 5px;
  max-height: 95px; /* Establecer una altura máxima */
  overflow-y: auto; /* Permitir el desplazamiento vertical si es necesario */
  padding: 5px; /* Añadir algo de relleno para el contenedor */
}

.ul_cities .items {
  display: inline-flex; /* Cambia a inline-flex */
  background: linear-gradient(
    to bottom,
    rgba(23, 23, 23, 0.5),
    rgba(23, 23, 23, 0.25)
  );
  color: white;
  padding: 5px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  box-sizing: border-box;
  flex: none; /* Desactiva el comportamiento de flex-grow y flex-shrink */
}

@media (min-width: 600px) {
  .text_input {
    min-width: 200px;
  }
}

@media (min-width: 1000px) {
  .text_input {
    min-width: 400px;
  }
}
@media (min-width: 1200px) {
  .text_input {
    min-width: 474px;
  }
}

/* tablet */
@media (min-width: 960px) {
}

/* desktop */
