/* Contenedor principal del conversor de tiempo */
.mainContainer {
  height: 100vh; /* MODIFIQUÉ ESTO Y PUSE AL 100*/
  width: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.headerBox {
  margin: 1rem;
  color: white;
  margin-bottom: 70px;
}

/* Estilo para el título principal */
.timeConverter__h1 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* Estilo para los subtítulos */
.message {
  font-size: 14px;
  font-weight: 400;
}

/* Contenedor para los botones */

/* .btnContainer {
  max-width: 1280px;
  height: 300px;
  max-height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

/* Botón del conversor */
.btn__converter {
  margin: 6.2rem auto 5rem;
  border-radius: 10px;
  height: 60px;
  width: 199px;
  border: none;
  box-shadow: 0 0 0 0.2 rgba(0, 0, 0, 0.2);
  background-color: white;
  font-weight: 700;
  font-size: 24px;
}

@media (min-width: 600px) {
  /* Contenedor principal del conversor de tiempo */
  .mainContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
  .timeConverter__h1 {
    font-size: 36px;
    margin-bottom: unset;
  }
  .message {
    font-size: 18px;
  }
}

/* Estilos para pantallas con un ancho mínimo de 1024px */
@media (min-width: 1024px) {
  .btnContainer {
    flex-direction: row;
    margin: 5rem 10rem;
  }
}

@media (min-width: 1280px) {
  .btnContainer {
    margin: 5rem 30rem;
  }
}


/* CAMBIANDO ALGUNOS ESTILOS PARA RESPONSIVE EN MOBILE */
/* CAPA OSCURA */
@media (min-width: 500px) {
  .mainContainer {
    height: 78vh;
  }
}

@media (min-width: 300px) {
  .mainContainer {
    height: 79vh;
  }
}